[Unit]
Description=Bluetooth autoconnect service

[Service]
Type=simple
ExecStart=/usr/bin/bluetooth-autoconnect -d
Restart=always
RuntimeMaxSec=1m

[Install]
WantedBy=basic.target
