[Unit]
Description=River session
Documentation=man:systemd.special(7)
Requires=default.target
BindsTo=wayland-session.target
After=wayland-session.target
