[Unit]
Description=Portal service (GTK/GNOME implementation)
PartOf=wayland-session.target
After=wayland-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.gtk
ExecStart=/usr/lib/xdg-desktop-portal-gtk

[Install]
WantedBy=wayland-session.target
