//------------------------------------------------------------------------------
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview
//------------------------------------------------------------------------------

hotkey-overlay {
    skip-at-startup
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        repeat-delay 300
        repeat-rate 50
        // see: xkeyboard-config(7).
        xkb {}
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        natural-scroll
        accel-speed -0.92
        accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.15
        accel-profile "flat"
        // scroll-method "no-scroll"
    }
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "DP-4" {
    mode "1920x1200@60"
    scale 1
    transform "90"
    position x=0 y=0
    background-color "#0b0b0e"
}

output "DP-3" {
    mode "2560x1440@240"
    scale 1.125
    transform "normal"
    position x=1200 y=0
    background-color "#0b0b0e"
}

output "HDMI-A-6" {
    mode "1920x1200@60"
    scale 1
    transform "90"
    // 2560 / 1.125 = ~2276
    // 2276 + 1200 = 3476
    position x=3476 y=0
    background-color "#0b0b0e"
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 6

    // "never", "always" or "on-overflow"
    center-focused-column "always"

    preset-column-widths {
        proportion 0.333333
        proportion 0.5
        proportion 0.666667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.333333
        proportion 0.5
        proportion 0.666667
        proportion 1.0
    }

    default-column-width { proportion 0.333333 ; }

    focus-ring {
        off
    }

    border {
        width 3
        active-color "#055eb5"
        inactive-color "#023469"
    }

    struts {
        left -1
        right -1
        top 0
        bottom 0
    }
}

cursor {
    xcursor-theme "Simp1e"
    xcursor-size 24

    // NOTE: Will work in future release (1.10).
    // hide-after-inactive-ms 3000
    // hide-on-key-press
}

// NOTE: Running niri as a session supports xdg-desktop-autostart.
spawn-at-startup "wlsunset" "-l" "52.155472" "-L" "5.389358"
spawn-at-startup "bash" "-c" "$XDG_CONFIG_HOME/wallpaper/wallpaper.sh"

prefer-no-csd

screenshot-path "~/Media/Images/screenshots/niri--%Y-%m-%d--%H-%M-%S.png"

// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    slowdown 0.85
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

// NOTE: Work around for WezTerm's initial configure bug
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// TODO: Test whether this works.
// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^Bitwarden$"#

    block-out-from "screen-capture"
}

binds {
    Super+Shift+Q { quit; }
    // TODO: Investigate waylock error.
    Super+Shift+Z { spawn "bash" "-c" "$XDG_SCRIPTS_HOME/lock-screen.sh"; }

    Super+Q { close-window; }
    Super+T { spawn "alacritty"; }
    Super+O { spawn "wofi" "-p" "..." "--show" "drun"; }
    Super+B { spawn "qutebrowser"; }
    Super+Shift+T { spawn "bash" "-c" "$XDG_SCRIPTS_HOME/open-terminal-cwd.sh"; }
    Super+Shift+B { spawn "bash" "-c" "$XDG_SCRIPTS_HOME/open-qutebrowser-session.sh"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }


    Super+Left  { focus-column-left; }
    Super+Down  { focus-window-or-workspace-down; }
    Super+Up    { focus-window-or-workspace-up; }
    Super+Right { focus-column-right; }
    Super+H     { focus-column-left; }
    Super+J     { focus-window-or-workspace-down; }
    Super+K     { focus-window-or-workspace-up; }
    Super+L     { focus-column-right; }

    Super+Ctrl+Left  { move-column-left; }
    Super+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Super+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Super+Ctrl+Right { move-column-right; }
    Super+Ctrl+H     { move-column-left; }
    Super+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Super+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Super+Ctrl+L     { move-column-right; }

    Super+Home { focus-column-first; }
    Super+End  { focus-column-last; }
    Super+Ctrl+Home { move-column-to-first; }
    Super+Ctrl+End  { move-column-to-last; }

    Super+Shift+Left  { focus-monitor-left; }
    Super+Shift+Down  { focus-monitor-down; }
    Super+Shift+Up    { focus-monitor-up; }
    Super+Shift+Right { focus-monitor-right; }
    Super+Shift+H     { focus-monitor-left; }
    Super+Shift+J     { focus-monitor-down; }
    Super+Shift+K     { focus-monitor-up; }
    Super+Shift+L     { focus-monitor-right; }

    Super+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Super+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Super+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Super+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Super+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Super+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Super+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Super+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // TODO: Find better key bindings.
    // Super+Shift+Page_Down { move-workspace-down; }
    // Super+Shift+Page_Up   { move-workspace-up; }
    // Super+Shift+U         { move-workspace-down; }
    // Super+Shift+I         { move-workspace-up; }

    Super+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Super+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Super+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Super+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Super+WheelScrollRight      { focus-column-right; }
    Super+WheelScrollLeft       { focus-column-left; }
    Super+Ctrl+WheelScrollRight { move-column-right; }
    Super+Ctrl+WheelScrollLeft  { move-column-left; }

    Super+Shift+WheelScrollDown      { focus-column-right; }
    Super+Shift+WheelScrollUp        { focus-column-left; }
    Super+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Super+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+Ctrl+1 { move-column-to-workspace 1; }
    Super+Ctrl+2 { move-column-to-workspace 2; }
    Super+Ctrl+3 { move-column-to-workspace 3; }
    Super+Ctrl+4 { move-column-to-workspace 4; }
    Super+Ctrl+5 { move-column-to-workspace 5; }
    Super+Ctrl+6 { move-column-to-workspace 6; }
    Super+Ctrl+7 { move-column-to-workspace 7; }
    Super+Ctrl+8 { move-column-to-workspace 8; }
    Super+Ctrl+9 { move-column-to-workspace 9; }

    // Super+Comma  { consume-window-into-column; }
    // Super+Period { expel-window-from-column; }

    Super+S { consume-or-expel-window-left; }
    Super+G { consume-or-expel-window-right; }

    Super+Space { switch-preset-column-width; }
    Super+Shift+Space { switch-preset-window-height; }
    Super+Ctrl+R { reset-window-height; }
    Super+F { maximize-column; }
    Super+Shift+F { fullscreen-window; }
    Super+C { center-column; }

    // TODO: Find better key bindings.
    // Super+Minus { set-column-width "-10%"; }
    // Super+Equal { set-column-width "+10%"; }
    // Super+Shift+Minus { set-window-height "-10%"; }
    // Super+Shift+Equal { set-window-height "+10%"; }

    // TODO: Find better key bindings.
    // Print { screenshot; }
    // Ctrl+Print { screenshot-screen; }
    // Alt+Print { screenshot-window; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    // Super+Shift+P { power-off-monitors; }
}
