[Unit]
Description=SwayOSD server
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayosd-server --duration 1000

[Install]
WantedBy=graphical-session.target
