[Desktop Entry]
Name=Bitwarden
GenericName=Password Manager
Exec=bitwarden-desktop
Terminal=false
Type=Application
Icon=bitwarden
Categories=Utility;
StartupWMClass=Bitwarden
