[Desktop Entry]
Name=Bitwarden
GenericName=Password Manager
Exec=bitwarden-desktop --ozone-platform=wayland
Terminal=false
Type=Application
Icon=bitwarden
Categories=Utility;
StartupWMClass=Bitwarden
