html {
    background-color: #0b0b0e;
}

.title {
    font-size: 18px;
}

.comhead {
    font-size: 16px;
}

.subtext {
    font-size: 16px;
}

.comment {
    font-size: 18px;
}

#hnmain {
    width: 720px;
    min-width: 720px;
}
