/* <% source $XDG_OPT_HOME/theme/theme.sh -%> */

* {
    tab-size: 4;
}

::selection {
    color: <% color_hash $selection_fg %>;
    background: <% color_hash $selection_bg %>;
}
::-moz-selection {
    color: <% color_hash $selection_fg %>;
    background: <% color_hash $selection_bg %>;
}
